<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/biofab2</property>
    <property name="hibernate.connection.username">biofab</property>
    <property name="hibernate.connection.password">fiobab</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="org.biofab.model.DNAMolecule"/>
    <mapping class="org.biofab.model.DNAMoleculeType"/>
    <mapping class="org.biofab.model.DNAMoleculeLocation"/>
    <mapping class="org.biofab.model.Feature"/>
  </session-factory>
</hibernate-configuration>
